/*
 * Default CSS file for the UC_QB Admin Page, when Ctools is not available.
 */

.uc_qb_export_product_settings:before {
  content: 'Product Export Settings';
  font-weight: bold;
  text-decoration: underline;
}

.uc_qb_export_product_settings {
  margin-left: 30px;
  margin-bottom: 30px;
}

.uc_qb_import_product_settings:before {
  content: 'Product Import Settings';
  font-weight: bold;
  text-decoration: underline;
}

.uc_qb_import_product_settings {
  margin-left: 30px;
  margin-bottom: 30px;
}


.uc_qb_export_customer_settings:before {
  content: 'Customer Export Settings';
  font-weight: bold;
  text-decoration: underline;
}

.uc_qb_export_customer_settings {
  margin-left: 30px;
  margin-bottom: 30px;
}

.uc_qb_import_customer_settings:before {
  content: 'Customer Import Settings';
  font-weight: bold;
  text-decoration: underline;
}

.uc_qb_import_customer_settings {
  margin-left: 30px;
  margin-bottom: 30px;
}

